<nav class="w-full bg-white dark:bg-gray-800 mt-4 mx-2 mb-2 shadow rounded-lg">
  <div class="flex justify-evenly px-4 py-3 lg:px-6">
      <p class="text-gray-700 dark:text-gray-300">hola</p>
      <p class="text-gray-700 dark:text-gray-300">chao</p>
      <p class="text-gray-700 dark:text-gray-300">itin</p>
  </div>
</nav>
